<h1>Wellcome to Ballroom Courses</h1>
<p>by Michal Litke</p>
<br/>
<%= link_to 'See all courses', courses_path %>
<%= link_to 'See all users', users_path %>
<br/>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<br/>
<% if user_signed_in? %>
<%= link_to 'My Account', user_path(current_user.id) %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit my account', edit_user_registration_path %>
<% end %>